.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-containerLogin{
    display: flex;
    flex-direction: column;
    width: 389px;
    height: 350px;
    margin-top: 8%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #00000029;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    align-items: center;
    padding: 0px 2% 0px 2%;
}

.content{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    width:90%;
    /* align-items: center; */
    /*padding: 0px 68px 0px 68px; */
}

.pic-container{
    display: flex;
    flex-direction: column;
    width: 389px;
    height: 300px;
    margin-top: 8%;
    box-shadow: 0px 5px 15px #00000029;
    border: 1px solid #E4E4E4;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px ;
}

.img{
    margin-top: 10px;
    border-radius: 50%;
}

.buttons-login{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    background-color: #A03037;
    /* width: 60%; */
    color: white;
}

.textfield{
    width:100%;
    padding-bottom: 15px;
}

form{
    padding-top: 8%;
    width:80%;
}

@media screen and (max-width: 650px){

    .pic-container{
        display: none;
    }

    .first-containerLogin{
        display: flex;
        flex-direction: column;
        width: 389px;
        height: 350px;
        margin-top: 20%;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: none;
        border: none;
        border-radius: 6px;
        align-items: center;
        padding: 0px 2% 0px 2%;
    }



}